{% extends "base.html" %}

{% block content %}
  <h1>Sign Up</h1>
  <form method="post">
    {% csrf_token %}
    <p>
      <label for="{{ form.username.id_for_label }}">Email:</label>
      {{ form.username }}
      {{ form.username.errors }}
    </p>
    <p>
      <label for="{{ form.password1.id_for_label }}">Password:</label>
      {{ form.password1 }}
      {{ form.password1.errors }}
    </p>
    <p>
      <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
      {{ form.password2 }}
      {{ form.password2.errors }}
    </p>
    <button type="submit">Sign Up</button>
  </form>
{% endblock %}
